.Education {
    .Education__heading {
        user-select: none;
    }

    .Education__content {
        margin-left: 25px;

        .Education__list {
            display: flex;
            row-gap: 4px;
            align-items: flex-start;
            flex-direction: column;

            .Education__item {
                .Education__collageDesc {
                    .Education__degree {
                        font-size: 0.8rem;
                        font-weight: 600;
                    }

                    .Education__collageName {
                        font-size: 0.7rem;
                        margin-left: 8px;
                    }
                }
            }
        }
    }
}