.LeftPart {
    width: 33%;
    background-color: var(--primary-color);
    padding-inline: 8px;

    .img-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .profile-img {
            width: 100px;
            height: 100px;
            margin-block: 30px;
            border-radius: 50%;
        }
    }



    @media (max-width: 576px) {
        width: 100%;
        border-right: none;

        .AboutMe {
            padding-bottom: 16px;
        }

        .ContactInfo,
        .SocialProfile {
            display: none;
        }
    }
}

.Right-Side {
    width: 67%;
    background-color: #EDF2F4;
    padding: 0.9rem;
    display: flex;
    flex-direction: column;

    .rule {
        width: 80%;
        height: 0.5px;
        background-color: var(--primary-color);
        margin: 8px auto;
        border: none;
        margin-block: 8px;
    }

    @media (max-width: 576px) {
        width: 100%;
    }
}