.Resume {
    display: flex;
    justify-content: center;

    background-color: blue;

    .Resume__resumeContainer {
        display: flex;
        justify-content: center;
    }

    @media only screen and (max-width: 576px) {
        .resume-box {
            width: 100%;
            flex-direction: column;
            background-color: orange;
        }

        .cv-btn {
            padding: 3px 8px;

            .btn-text {
                font-size: 0.4rem;
            }
        }
    }
}