.Resume {
    display: flex;
    justify-content: center;

    background-color: blue;

    .Resume__resumeContainer {
        display: flex;
        justify-content: center;
    }

    @media only screen and (max-width: 576px) {
        .Resume__resumeContainer {
            width: 100%;
            flex-direction: column;
            background-color: orange;
        }
    }
}