.Resume {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-block: 8px;

    .resume-box {
        width: 67%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media only screen and (max-width: 576px) {

        .resume-box {
            width: 100%;
            flex-direction: column;
        }

        .Footer {
            display: block;
        }

    }
}