.Resume {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-block: 8px;

    .resume-box {
        width: 67%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cv-btn {
        position: fixed;
        right: 20px;
        bottom: 20px;
        background-color: var(--background-color);
        border-radius: 15px;
        padding: 7px 15px;
        cursor: pointer;

        box-shadow: 2px 2px 20px 1px rgba(255, 255, 255, 0.45);
        transition: background-color 0.2s ease-in-out;

        .btn-text {
            font-size: 0.6rem;
            letter-spacing: 1px;
            color: var(--text-color);
        }

        &:hover {
            background-color: #DEE2E6;
        }

        &:active {
            background-color: var(--background-color);
        }

    }

    @media only screen and (max-width: 576px) {

        .resume-box {
            width: 100%;
            flex-direction: column;
        }

        .cv-btn {
            padding: 3px 8px;

            .btn-text {
                font-size: 0.4rem;
            }
        }

        .Footer {
            display: block;
        }

    }
}