.ContactInfo {
    width: 100%;

    .contact-heading {
        width: 100%;
        text-align: center;
        margin-top: 16px;

        .heading {
            color: #ffffff;
        }
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 16px;

        li {
            display: flex;
            column-gap: 10px;
            cursor: pointer;
            transition: color 0.3s ease-in-out;

            a {
                display: flex;
                column-gap: 10px;
                text-decoration: none;

                .icon {
                    color: var(--background-color);
                    transition: color 0.3s ease-in-out;
                }

                p {
                    color: var(--background-color);
                    transition: color 0.3s ease-in-out;
                }
            }
        }

        li:hover {
            .icon {
                color: var(--brand-color);
            }

            p {
<<<<<<< HEAD
                color: var(--brand-color);
=======
                color: var(--brand-color)
>>>>>>> reactpdf
            }
        }
    }
}