.Footer {
    width: 100%;
    background-color: var(--primary-color);
    display: none;

    .contact-heading {
        width: 100%;
        text-align: center;
        margin-top: 10px;

        .heading {
            color: var(--background-color);
        }
    }

    .ContactInfo {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .get-in-touch {
            margin-left: 16px;

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                row-gap: 16px;

                li {
                    display: flex;
                    column-gap: 10px;
                    cursor: pointer;

                    a {
                        display: flex;
                        column-gap: 10px;
                        text-decoration: none;

                        .icon {
                            color: var(--background-color);
                        }

                        p {
                            color: var(--background-color);
                        }
                    }
                }

                li:hover {
                    .icon {
                        color: var(--brand-color);
                    }
                }
            }
        }

        .profile-name {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 30px;

            .name-box {
                .name {
                    letter-spacing: 1px;
                    color: var(--background-color);

                    span {
                        color: #00A9FF;
                    }
                }

                .role {
                    color: var(--background-color);
                }

                h4 {
                    letter-spacing: 1px;
                }
            }
        }

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-items: center;
            row-gap: 8px;

            li {
                display: flex;
                column-gap: 10px;

                .icon {
                    font-size: 0.9rem;
                    color: var(--background-color);
                }

                p {
                    color: var(--background-color);
                }
            }
        }
    }

    .SocialProfile {
        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 16px;
            padding-block: 16px;

            a {
                display: flex;
                column-gap: 10px;
                text-decoration: none;

                .icon {
                    color: var(--background-color);
                }

                p {
                    color: var(--background-color);
                }
            }
        }
    }
}