.Avatar {
    .Avatar__imgContainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .Avatar__profileImg {
            width: 100px;
            height: 100px;
            margin-block: 30px;
            border-radius: 50%;
        }
    }

    .Avatar__nameContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: flex-start;

        .Avatar__nameBox {
            .Avatar__name {
                letter-spacing: 1px;
                color: #ffffff;

                span {
                    color: #00A9FF;
                }
            }

            .Avatar__role {
                letter-spacing: 1px;
                color: #ffffff;
            }
        }
    }
}