.AboutMe {
    width: 100%;

    .AboutMe__heading {
        width: 100%;
        text-align: center;
        margin-top: 16px;

        .AboutMe__headingText {
            color: #ffffff;
        }
    }

    .rule {
        width: 40%;
    }

    .AboutMe__desc {
        width: 100%;

        .AboutMe__text {
            text-align: left;
            color: aliceblue;
        }
    }
}